
body {
    background-image: url(../frontend/misc/Mediamodifier-Design.svg);
    background-attachment: scroll; 
    background-repeat: no-repeat;
    }

    .price-br{
        padding-top: 1vmin;
    }

    .title{
        margin-left: 5vmin;
        text-align: center;
        font-family: 'Gilroy', sans-serif;
        font-size: 10vmin;
        line-height: 40%;
        font-weight: 500;
        color:  #FFFF;
        
    }

    .sp_name{
        
        font-family: 'Gilroy', sans-serif;
        font-size: 5vmin;
        line-height: 100%;
        font-weight: 200;
        color:  #000000;
    }

    .items{
        font-family: 'Gilroy', sans-serif;
        font-size: 2vmin;
        line-height: 100%;
        font-weight: 50;
        color:  #000000;
    }
    .title_br{
        line-height: 900%;
    }

    .title1{
        margin-left: 5vmin;
        padding-right: 10vmin;
        font-family: 'Gilroy', sans-serif;
        font-size: 10vmin;
        line-height: 30%;
        font-weight: 300;
        color:  #FFFF;
    }

    .row_out{
        margin-top: 20vmin;
    }

    .row_menu{
        margin-top: 5vmin;
    }

    .icon{
        border: #000000; border-radius: 50%; border: 2px solid green;
        height: 20px;
        width: 20px;
    }

    

    @media only screen and (max-width:768px) {

        .dynamicMainTitle{
                text-align: center;
            }

        .dynamicSecondaryTitle{
                text-align: center;
                margin-top: 10vmin;
            }
        .row_out{
                margin-top: 5vmin;
            }

        .sp_name{
        
                font-family: 'Gilroy', sans-serif;
                font-size: 5vmin;
                line-height: 100%;
                font-weight: 200;
                color:  #FFFF;
            }
        
        br {
                line-height: 15vmin;
            }

            
    }

    .wrapper, html, body {
        height: 100%;
        margin: 0;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    #row1 {
        background-color: red;
    }
    #row2 {
        background-color: blue;
    }
    #row3 {
        background-color: green;
        flex:2;
        display: flex;
    }
    #col1 {
        background-color: yellow;
        text-align: center;
        flex: 0 0 240px;
        min-height: 100%;/* chrome needed it a question time , not anymore */
    }
    #col2 {
        background-color: orange;
        flex: 1 1;
        min-height: 100%;/* chrome needed it a question time , not anymore */
    }
    #col3 {
        background-color: purple;
        flex: 0 0 240px;
        min-height: 100%;/* chrome needed it a question time , not anymore */
    }